<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.capgemini.cobigen.eclipseplugin.generate"
            name="Generate">
      </command>
      <command
            id="com.capgemini.cobigen.eclipseplugin.health_check"
            name="Health Check">
      </command>
      <command
            id="com.capgemini.cobigen.eclipseplugin.detect_pattern"
            name="Detect Pattern">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.capgemini.cobigen.eclipse.workbenchcontrol.handler.GenerateHandler"
            commandId="com.capgemini.cobigen.eclipseplugin.generate">
      </handler>
      <handler
            class="com.capgemini.cobigen.eclipse.workbenchcontrol.handler.HealthCheckHandler"
            commandId="com.capgemini.cobigen.eclipseplugin.health_check">
      </handler>
      <handler
            class="com.capgemini.cobigen.eclipse.workbenchcontrol.handler.DetectPatternHandler"
            commandId="com.capgemini.cobigen.eclipseplugin.detect_pattern">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <separator
               name="com.capgemini.cobigen.eclipseplugin.separator1"
               visible="true">
         </separator>
         <menu
               label="CobiGen">
            <command
                  commandId="com.capgemini.cobigen.eclipseplugin.generate"
                  label="Generate..."
                  style="push">
            </command>
            <command
                  commandId="com.capgemini.cobigen.eclipseplugin.health_check"
                  label="Health Check..."
                  style="push">
            </command>
            <command
                  commandId="com.capgemini.cobigen.eclipseplugin.detect_pattern"
                  label="Detect Pattern..."
                  style="push">
            </command>
         </menu>
         <separator
               name="com.capgemini.cobigen.eclipseplugin.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <separator
               name="com.capgemini.cobigen.eclipseplugin.separator3"
               visible="true">
         </separator>
         <menu
               label="CobiGen">
            <command
                  commandId="com.capgemini.cobigen.eclipseplugin.generate"
                  label="Generate..."
                  style="push">
            </command>
            <command
                  commandId="com.capgemini.cobigen.eclipseplugin.health_check"
                  label="Health Check..."
                  style="push">
            </command>
            <command
                  commandId="com.capgemini.cobigen.eclipseplugin.detect_pattern"
                  label="Detect Pattern..."
                  style="push">
            </command>
         </menu>
         <separator
               name="com.capgemini.cobigen.eclipseplugin.separator4"
               visible="true">
         </separator>
      </menuContribution>
   </extension>

</plugin>
